/*

#0078fb - синенький
 
#ff2a38 - красненький
 
#00c4a5 - зелененький
 
#ffcd00 - желтелький

*/


body{
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

.main{
  width: 100vw;
  min-width: 660px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ff2a38 0%,#0078fb 33.3%, #00c4a5 66.6%,#ffcd00 100%);
}

.wrapper{
  padding: 20px;
  position: relative;
  min-width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  padding: 5px 10px;
  min-width: 100px;
  min-height: 20px;
  border: 1px solid #afafaf;
  border-radius: 16px 0;
  color: #393939;
}
.input:focus{
  outline: none;
  outline-offset: 0;
  border-color: #0078fb;
}

.button{
  position: absolute;
  top: 90px;
  left: 50%;
  height: auto;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  background-color: #00c4a5;
  color: #393939;
  transition: .4s;
}

.button:hover{
  color: #00c4a5;
  background-color: #393939;
}

.result{
  min-width: 150px;
  max-width: 450px;
  min-height: 30px;
  overflow: hidden;
  position: absolute;
  border: 1px solid #aaaaaa;
  border-radius: 0 16px 16px 16px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 30px;
  top: 450px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff2a38;
  color: #393939;
  transition: .3s;
}



.var{
  
}

.title{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

.condition{
  display: block;
  white-space: pre-wrap;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.task{
  font-family: Arial, Helvetica, sans-serif;
}